* {
  box-sizing: border-box;
}

body {
  max-width: 110%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 4%;
}

nav ul {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  float: right;
}

nav a {
  color: white;
  text-decoration: none;
  padding-right: 8px;
  cursor: pointer;
}

nav p {
  float: left;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

nav li {
  display: inline;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2%;
  margin-bottom: 3%;
  border: none;
  outline: none;
  text-align: center;
  background-color: black;
  color: white;
}

/* HERO */
#hero,
h1 {
  text-align: center;
  margin-top: 4%;
  padding: 7%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
  background-color: white;
}

#hero,
h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
}

/* SECTIONS */
section {
  min-height: 200px;
  padding: 2% 0;
  background-color: #bbb;
}

#projects,
#contact {
  background-color: #ddd;
}

#bio,
#projects,
#about,
#contact,
p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

/* BIO */
#bio {
  padding-left: 10%;
  padding-right: 10%;
}

/* PROJECTS */
#projects {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}
#quiz-app {
  float: left;
  padding-right: 3%;
  padding-bottom: 2%;
  width: 550px;
}

.description li {
  display: inline;
  list-style: none;
}

/* ABOUT */
#about {
  padding-left: 10%;
  padding-right: 10%;
}

/* CONTACT */
#contact {
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
#contact ul {
  list-style: none;
}

#contact li {
  display: inline;
}

#contact-icons ul {
  text-align: center;
}

/* FOOTER */
footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2%;
  border: none;
  outline: none;
  text-align: center;
  background-color: black;
  color: white;
}

footer,
p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
  #nav ul {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 4%;
  }
  #nav p {
    display: block;
    float: right;
    margin: 0 auto;
    width: 100%;
  }

  #hero h1 {
    font-size: 40px;
  }

  #quiz-app {
    width: 320px;
  }
}
