* {
  box-sizing: border-box;
}

body {
  max-width: 110%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 4%;
}

nav ul {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  float: right;
}

nav a {
  color: white;
  text-decoration: none;
  padding-right: 8px;
}

nav p {
  float: left;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

nav li {
  display: inline;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2%;
  margin-bottom: 3%;
  border: none;
  outline: none;
  text-align: center;
  background-color: black;
  color: white;
}

header h1 {
  text-align: center;
  margin-top: 10%;
  padding: 7%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 40px;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

#projects,
#contact {
  background-color: #ddd;
}

#bio,
#projects,
#about,
#contact,
p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

footer {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2%;
  border: none;
  outline: none;
  text-align: center;
  background-color: black;
  color: white;
}

footer,
p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
